node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
/.astro
public/pagefind

# Quarto
quarto_blog/_site
*.quarto
.quarto
public/quarto_blog

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# CondaPkg
.CondaPkg

# Julia Manifest
quarto_blog/Manifest.toml

/.quarto/
**/*.quarto_ipynb

memory-bank/
